body {

    margin: 0px 20px;
    background-color: #FFFEEE;
    font-family: 'Roboto';
}

.container {

    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;

}

.imagesizing{

    width: 20em;
    height: 20em;
    padding: 10px;
}

li {

    list-style-type: none;
}